__pycache__/
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv/
venv*
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
data/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
test-reports/

# Misc 
*.swp
*.db
venv/
*.env
secrets.sh
lambda/
*.zip
.vscode/
hosts.txt

# Generated YML Files
docker-compose.relay.yml
docker-compose.prod.yml

# Java 
target/
.settings/
.classpath
.project