# Flask and Extensions
flask==1.0.3
flask-sqlalchemy==2.4.1
flask-migrate==2.5.2
flask-login==0.4.1
flask-bootstrap==3.3.7.1
flask-wtf==0.14.2
flask-caching==1.7.1
flask-fixtures==0.3.8

# Libraries
faker>=1.0.7

# Aws
boto3==1.16.24

# Database
psycopg2-binary==2.8.3
redis==3.2.1
flask-redis==0.4.0

# Vendor Dependencies
launchdarkly-server-sdk==6.*
launchdarkly-api==2.0.15

# Runtime
gunicorn==19.9.0

# Datadog
datadog==0.30.0
ddtrace==0.29.0

# Docker-compose generator
j2cli==0.3.10
