version: '3'
services:
  {% for env in envs %}
  {{ env.hostname }}:
    hostname: {{ env.hostname }}
    image: levlaz/supportservice:$CIRCLE_SHA1
    environment:
      - FLASK_APP=run.py
      - DATABASE_URL=postgresql://supportService:supportService@db/supportService
      - FLASK_ENV=production
      - LD_CLIENT_KEY={{ env.api_key }}
      - LD_FRONTEND_KEY={{ env.client_id }}
      - REDIS_HOST=cache
    ports:
      - "{{ env.port }}:{{ env.port }}"
    command: ["./scripts/start.sh", "{{ env.port }}"]
    depends_on:
      - db
      - cache
  {% endfor %}

  db:
    image: postgres:11-alpine
    environment:
      - POSTGRES_USER=supportService
      - POSTGRES_PASSWORD=supportService
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  cache:
    image: redis:alpine
    ports:
      - "6379:6379"

  web:
    image: nginx:alpine
    volumes:
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - db
      - cache
      {% for env in envs %}
      - {{ env.hostname }}
      {% endfor %}