version: '3'
services:
  {{ env.hostname }}:
    hostname: {{ env.hostname }}
    image: levlaz/supportservice
    environment:
      - FLASK_APP=run.py
      - DATABASE_URL=postgresql://supportService:supportService@db/supportService
      - FLASK_ENV=production
      - LD_CLIENT_KEY={{ env.api_key }}
      - LD_FRONTEND_KEY={{ env.client_id }}
    ports:
      - "8000:8000"
    command: ./scripts/start.sh
    depends_on:
      - db-{{ env.hostname}}
      - cache-{{ env.hostname}}
    
  db-{{ env.hostname }}:
    image: postgres:10-alpine
    environment:
      - POSTGRES_USER=supportService
      - POSTGRES_PASSWORD=supportService
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  cache-{{ env.hostname}}:
    image: redis
    ports:
      - "6379:6379"
  
  web-{{ env.hostname}}:
    image: nginx
    volumes: 
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - {{ env.hostname }}

  logs-{{ env.hostname}}:
    image: logdna/logspout
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
    environment:
        - LOGDNA_KEY={{ env.logdna_key }}