user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    {% for env in envs %}
    server {
        listen 80;
        server_name {{ env.hostname }};
        location / {
            return 301 https://$host$request_uri;
        }
    }

    server {
        listen 443 ssl;
        server_name {{ env.hostname }};
        location / {
            proxy_pass http://{{ env.hostname }}:{{ env.port }};
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            ssl_certificate /etc/letsencrypt/live/ldsolutions.org/fullchain.pem;
            ssl_certificate_key /etc/letsencrypt/live/ldsolutions.org/privkey.pem;
        }
    }
    {% endfor %}

    server {
        listen 80;
        server_name *.ldsolutions.org;
        location / {
            return 301 https://$host$request_uri;
        }
    }

    server {
        listen 443 ssl;
        server_name *.ldsolutions.org;
        location / {
            add_header Content-Type text/plain;
            return 200 "sorry, I could not find that site.";
            ssl_certificate /etc/letsencrypt/live/ldsolutions.org/fullchain.pem;
            ssl_certificate_key /etc/letsencrypt/live/ldsolutions.org/privkey.pem;
        }
    }
}