version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.6
      - image: circleci/postgres
        environment:
          POSTGRES_USER: supportService
          POSTGRES_DB: supportService
          POSTGRES_PASSWORD: supportService

    steps:
      - checkout

      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "setup.py" }}
            - v3-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r dev-requirements.txt
            pip install -e .

      - save_cache:
          paths:
            - ./venv
          key: v3-dependencies-{{ checksum "setup.py" }}

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            make test

      - run:
          name: generate coverage report
          when: always
          command: |
            . venv/bin/activate
            coverage html
            codecov

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: htmlcov

      - store_artifacts:
          path: test-reports

  build_docker:
    machine: true
    steps:
      - checkout
      - run:
          name: Install Docker Compose
          command: sudo pip install docker-compose
      - run:
          name: Build Image
          command: |
            docker build -t levlaz/supportservice:$CIRCLE_SHA1 -f Dockerfile.prod .
            docker tag levlaz/supportservice:$CIRCLE_SHA1 levlaz/supportservice:latest
      - run:
          name: Test Stack
          command: |
            export DATABASE_URL=postgresql://supportService:supportService@db/supportService
            docker-compose -f docker-compose.test.yml up -d
      - run:
          name: Debug Docker
          command: docker ps -a
      - run:
          name: Push Image
          command: |
            if [[ "$CIRCLE_BRANCH" == "master" ]]; then
              docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
              docker push levlaz/supportservice
            else
              echo "Branch is not master, not uploading."
            fi
  deploy:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "setup.py" }}
            - v3-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r dev-requirements.txt
            pip install -e .
            sudo apt-get install -y rsync
      - save_cache:
          paths:
            - ./venv
          key: v3-dependencies-{{ checksum "setup.py" }}
      - run:
          name: Deploy to Production
          command: |
            . venv/bin/activate
            make deploy

  deploy_instance:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "setup.py" }}
            - v3-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r dev-requirements.txt
            pip install -e .
            sudo apt-get install -y rsync
      - save_cache:
          paths:
            - ./venv
          key: v3-dependencies-{{ checksum "setup.py" }}
      - run:
          name: Deploy to Production
          command: |
            echo $LD_HOST
            . venv/bin/activate
            python cli.py deploy-instance $LD_HOST

  simulate:
    docker:
      - image: circleci/openjdk:8-node-browsers
    steps:
      - checkout
      - run: 
          name: Install Simualtor 
          command: |
            cd webdriver
            mvn compile assembly:single 
      - run:
          name: Run Simulation
          command: |
            cd webdriver
            java -jar target/webdriver-1.0-SNAPSHOT-jar-with-dependencies.jar

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - test
      - build_docker:
          requires:
            - test
      - deploy:
          requires:
            - build_docker
          filters:
            branches:
              only: master
  
  # Run simulator every hour
  simulator:
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - simulate