{% extends "beta/base.html" %}

{% block content %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form action="{{ url_for('core.login') }}" method="post">
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <input class="form-control" id="userEmail" name="userEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input class="form-control" id="inputPassword" name="inputPassword" type="password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>
          <input type="submit" value="submit" class="btn btn-primary btn-block"></input>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{{ url_for('core.register') }}">Register an Account</a>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="text-center text-success font-weight-bold">
                  {% for message in messages %}
                  {{ message }}
                  {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
           </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
{% endblock %}

