{% extends "beta/base.html" %}

{% block content %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      {% if session.get('trial_duration') %}
      <div class="card-header">Register an Account for your <strong style="color:darkblue">free {{ session['trial_duration'] }} day</strong> trial.</div>
      {% else %}
      <div class="card-header">Register an Account</div>
      {% endif %}
      <div class="card-body">
        <form action="{{ url_for('core.register') }}" method="post">
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <input class="form-control" id="userEmail" name="userEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputPassword">Password</label>
                <input class="form-control" id="inputPassword" name="inputPassword" type="password" placeholder="Password">
              </div>
              <div class="col-md-6">
                <label for="confirmPassword">Confirm password</label>
                <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </div>
          <input type="submit" value="submit" class="btn btn-primary btn-block"></input>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{{ url_for('core.login') }}">Login Page</a>
        </div>
        <hr>
        <div>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul class="text-left text-danger font-weight-bold">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
         </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='dark/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dark/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='dark/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
</body>
{% endblock %}
