{% extends "beta/base.html" %}

<script type="text/javascript">
  (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
  ;r.type="text/javascript"
  ;r.integrity="sha384-girahbTbYZ9tT03PWWj0mEVgyxtZoyDF9KVZdL+R53PP5wCY0PiVUKq0jeRlMx9M"
  ;r.crossOrigin="anonymous";r.async=true
  ;r.src="https://cdn.amplitude.com/libs/amplitude-7.2.1-min.gz.js"
  ;r.onload=function(){if(!e.amplitude.runQueuedFunctions){
  console.log("[Amplitude] Error: could not load SDK")}}
  ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
  ;function s(e,t){e.prototype[t]=function(){
  this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
  var o=function(){this._q=[];return this}
  ;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
  ;for(var c=0;c<a.length;c++){s(o,a[c])}n.Identify=o;var u=function(){this._q=[]
  ;return this}
  ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
  ;for(var p=0;p<l.length;p++){s(u,l[p])}n.Revenue=u
  ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","enableTracking","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","onInit","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
  ;function v(e){function t(t){e[t]=function(){
  e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
  for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
  e=(!e||e.length===0?"$default_instance":e).toLowerCase()
  ;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
  ;e.amplitude=n})(window,document);
  
  amplitude.getInstance().init("5521c406e67cc6d1af3ebc234e847c9b");
  amplitude.getInstance().logEvent('Viewing Register Page');
  </script>

{% block content %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      {% if session.get('trial_duration') %}
      <div class="card-header">Register an Account for your <strong style="color:darkblue">free {{ session['trial_duration'] }} day</strong> trial.</div>
      {% else %}
      <div class="card-header">Register an Account</div>
      {% endif %}
      <div class="card-body">
        <form action="{{ url_for('core.register') }}" method="post">
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <input class="form-control" id="userEmail" name="userEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputPassword">Password</label>
                <input class="form-control" id="inputPassword" name="inputPassword" type="password" placeholder="Password">
              </div>
              <div class="col-md-6">
                <label for="confirmPassword">Confirm password</label>
                <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </div>
          <input type="submit" value="submit" class="btn btn-primary btn-block"></input>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{{ url_for('core.login') }}">Login Page</a>
        </div>
        <hr>
        <div>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul class="text-left text-danger font-weight-bold">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
         </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='dark/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dark/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='dark/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
</body>
{% endblock %}
