version: '3.7'
services:
  supportservice:
    hostname: supportservice
    image: levlaz/supportservice:{{ env("CIRCLE_SHA1") }}
    restart: always
    environment:
      - FLASK_APP=app.factory:create_app('12345','12345','production')
      - DATABASE_URL=postgresql://supportService:supportService@db/supportService
      - FLASK_ENV=production
      - LD_API_KEY={{ env("LD_API_KEY") }}
      - REDIS_HOST=cache
      - REDIS_URL=redis://cache:6379/0
      - AWS_ACCOUNT_ID={{ env("AWS_ACCOUNT_ID") }}
      - DATADOG_HOST=datadog-agent
      - DD_AGENT_HOST=datadog-agent
      - DD_AGENT_PORT=8126
    ports:
      - 8001:8001
    deploy:
      replicas: 2
      update_config:
        delay: 30s
        parallelism: 1
        failure_action: rollback
        order: start-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
    command: ["./scripts/start.sh", "8001"]
    depends_on:
      - db
      - cache

  db:
    image: postgres:11-alpine
    restart: always
    environment:
      - POSTGRES_USER=supportService
      - POSTGRES_PASSWORD=supportService
    command: ["-c", "max_connections=10000"]
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  cache:
    image: redis:alpine
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
    ports:
      - 6379:6379
    volumes:
      - ./redis-data:/data

  datadog-agent:
    image: datadog/agent:latest
    environment:
      - DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true
      - DD_APM_ENABLED=true
      - DD_APM_NON_LOCAL_TRAFFIC=true
      - DD_API_KEY={{ env("DD_API_KEY") }}
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
    ports:
      - 8126:8126
