version: '3'
services:
  supportservice:
    hostname: supportservice
    image: levlaz/supportservice:{{ env("CIRCLE_SHA1") }}
    environment:
      - FLASK_APP=app.factory:create_app('12345','12345','production')
      - DATABASE_URL=postgresql://supportService:supportService@db/supportService
      - FLASK_ENV=production
      - LD_API_KEY={{ env("LD_API_KEY") }}
      - REDIS_HOST=cache
      - AWS_QUICKSIGHT_ACCESS_KEY_ID={{ env("AWS_QUICKSIGHT_ACCESS_KEY_ID") }}
      - AWS_QUICKSIGHT_SECRET_ACCESS_KEY_ID={{ env("AWS_QUICKSIGHT_SECRET_ACCESS_KEY_ID") }}
      - AWS_ACCOUNT_ID={{ env("AWS_ACCOUNT_ID") }}
      - AWS_QUICKSIGHT_DASHBOARD_ID={{ env("AWS_QUICKSIGHT_DASHBOARD_ID") }}
    ports:
      - "8001:8001"
    command: ["./scripts/start.sh", "8001"]
    depends_on:
      - db
      - cache

  db:
    image: postgres:11-alpine
    environment:
      - POSTGRES_USER=supportService
      - POSTGRES_PASSWORD=supportService
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  cache:
    image: redis:alpine
    ports:
      - "6379:6379"
