{% block footer %}
    <!-- ** *Note* LaunchDarkly is initialized in the header ** -->

    <small>Support Service Version: {{ config['VERSION'] }}</small>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='light/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='light/vendor/metisMenu/metisMenu.min.js') }}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ url_for('static', filename='light/vendor/raphael/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='light/vendor/morrisjs/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='light/data/morris-data.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='light/dist/js/sb-admin-2.js') }}"></script>
   <script>
       // Show Widgets Code
       var displayWidget = document.getElementById('widgets');
       var renderButton = function() {
            var showFeature = ldclient.variation("show-widgets", false);
            var displayWidget = document.getElementById('widgets');
            if (displayWidget) {
                if (showFeature) {
                    displayWidget.style.display = "block";
                } else {
                    displayWidget.style.display = "none";
                }
            }


       }

       // ChatBox Code
       var renderChatbox = function() {
           var showFeature = ldclient.variation("chatbox", false);

           if (showFeature) {
               (function($) {
                    $(document).ready(function() {
                        var $chatbox = $('.chatbox'),
                            $chatboxTitle = $('.chatbox__title'),
                            $chatboxTitleClose = $('.chatbox__title__close'),
                            $chatboxCredentials = $('.chatbox__credentials');
                        $chatbox.removeClass('chatbox--closed', 'chatbox--tray').css('display', 'block');
                        $chatboxTitle.on('click', function() {
                            $chatbox.toggleClass('chatbox--tray');
                        });
                        $chatboxTitleClose.on('click', function(e) {
                            e.stopPropagation();
                            $chatbox.addClass('chatbox--closed');
                        });
                        $chatbox.on('transitionend', function() {
                            if ($chatbox.hasClass('chatbox--closed')) $chatbox.slideDown();
                        });
                        setTimeout(function(){ $chatboxTitle.trigger('click'); }, 700);
                    });
                })(jQuery);
           } else {
            $('.chatbox').hide();
            console.log('see ya')
           }
       }

        // a11y code
        var a11y = function(){
            console.log("Updating Accessibility")
            var register_link = document.getElementsByClassName("register_link");
            var brand_flag = ldclient.variationDetail("registration-button-color", "#28A745");
            console.log(brand_flag)
            if(register_link){
                for (var i=0, len=register_link.length|0; i<len; i=i+1|0) {
                    register_link[i].style.backgroundColor = brand_flag.value;
                }
            }
       }

       var checkReload = function(){
            var reload = ldclient.variation("force-page-reload", false)
            checkExists = document.cookie.indexOf('force_reload=');
            if (reload && checkExists == -1) {
                console.log("Reloading")
                var now = new Date();
                var time = now.getTime();
                time += 3600 * 1000;
                now.setTime(time);
                location.reload();
                // Write cookie so we don't keep reloading forever
                document.cookie = 'force_reload=' + Date.now().toString() + '; expires=' + now.toUTCString() +
'; path=/';
            }
       }

       // Track page loadtime on page refresh and call LD track
        window.onload = function () {
            var loadTime = window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart; 
            console.log('Page load time is '+ loadTime);
            ldclient.track("PageLoadtime", null, loadTime)
        }

       // LD Client Rendering
       ldclient.waitForInitialization().then(function() {
            console.log("It's now safe to request feature flags");
            console.log(ldclient);
            renderButton();
            renderChatbox();
            a11y();
       })

       ldclient.on('change', function() {
           console.log('this should change')
           renderButton();
           renderChatbox();
           a11y();
           checkReload();
       });

</script>
{% endblock %}
