{% extends "main.html" %}
{% block content %}
    <div id="wrapper">
        <!-- Navigation -->
        <div id="page-wrapper">
            <div class="row">
                    <h1 class="page-header">Data Export Demo</h1>
                        <!--prevent img and support service version from flickering on page load -->
                        <div id="qs-container" style="block-size: 485px;padding-left:65px">
                            <div id="dashboardContainer" data-url="{{ embedUrl | safe }}"></div>
                        </div>


                        <!-- QuickSight -->
                        <script src="{{ url_for('static', filename='shared/js/bundle.min.js') }}"></script>
                        <script src="{{ url_for('static', filename='shared/js/QuickSight.js') }}"></script>

                    <img src="{{ url_for('static', filename='shared/images/data_export_img.png') }}" alt="Data Export Diagram" style="width:950px;height:230px;bottom:-192px">
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock %}
