<!doctype html>

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LaunchDarkly SupportService Demo Site">
    <meta name="author" content="Sales Engineering Team">

    <title>SupportService - {{ title }}</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shared/images/favicon.ico') }}">
{% endblock head %}
{% block header %}
    <!-- Footer -->
    {% include 'partials/head.html' %}
{% endblock header %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='light/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='light/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='light/dist/css/sb-admin-2.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='shared/css/custom.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='light/vendor/morrisjs/morris.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
{% endblock css %}

{% block headerJS %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='light/vendor/jquery/jquery.min.js') }}"></script>

   <!-- Custom Theme JavaScript -->
   <script src="{{ url_for('static', filename='light/dist/js/sb-admin-2.min.js') }}"></script>



{% endblock headerJS %}

{% block navbar %}
    <!-- Nav -->
    {%  include 'partials/nav.html' %}
{%- endblock navbar %}

{% block content %}
    <!-- Content -->
{% endblock content %}

<!-- Chat -->
{%  include 'partials/chat.html' %}

{% block footer %}
    <!-- Footer -->
    {% include 'partials/footer.html' %}
{% endblock footer %}
